{% extends "staff/staffhomeindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/staff_addstockpost/">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ id }}"/>
  <table class="table table-bordered">
    <tr>
      <td>Stock</td>
      <td><textarea name="textarea" cols="10" rows="6" required class="form-control"></textarea></td>
    </tr>
    <tr>
      <td><input type="submit" name="button" id="button" value="Save" class="btn btn-success"/></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
{% endblock %}