{% extends "staff/staffhomeindex.html" %}
{% block body %}
<form action="/myapp/staff_editmedicineentypost/" method="post"><table class="table table-bordered">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ data.id }}">
  <tr>
    <td>Medicine name</td>
    <td><input type="text" name="textfield" id="textfield" value="{{ data.mname }}" required class="form-control"></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><input type="text" name="textfield2" id="textfield2" value="{{ data.amount }}" required class="form-control"></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><textarea name="textarea" id="textarea" required class="form-control">{{ data.description }}</textarea></td>
  </tr>
  <tr>
    <td><input type="submit" name="button" id="button" value="ADD" class="btn btn-success"></td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
{% endblock %}