{% extends "staff/staffhomeindex.html" %}
{% block body %}
<form action="/myapp/staff_viewservicebookingpost/" method="post">
    <table class="table table-bordered">
    {% csrf_token %}
  <tr>
      <input type="hidden" name="id" value="{{ id }}" />
   <td>From
      <input type="date" name="textfield" id="textfield"class="form-control" required/></td>
    <td>To
      <input type="date" name="textfield2" id="textfield2"class="form-control" required/></td>
    <td><input type="submit" name="button" id="button" value="GO" class="btn btn-success"/></td>
  </tr>
</table>
  <table class="table table-bordered">
    <tr>
      <th width="60" height="27" scope="col">SL no</th>
      <th width="116" scope="col">Booked date</th>
      <th width="113" scope="col">User Details</th>
      <th width="83" scope="col">Service Details</th>
      <th width="83" scope="col">&nbsp;</th>
      <th width="78" scope="col">&nbsp;</th>
      <th width="96" scope="col">&nbsp;</th>
      <th width="104" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>&nbsp;{{ i.USER.uname }}<br>
      <td>&nbsp;{{ i.USER.place }}<br> {{ i.USER.post }}<br> {{ i.USER.pin}}<br>
        &nbsp;{{ i.USER.phonenumber }}</td>
        <td>
            {{ i.service.service }}<br>
            {{ i.service.amount }}<br>
            {{ i.service.details }}<br>
            {{ i.service.STAFF.sname }}<br>
        </td>
      <td><a href="/myapp/staff_approveservicebooking/{{ i.id }}" class="btn btn-info">Approve</a></td>
      <td><a href="/myapp/staff_rejectservicebooking/{{ i.id }}" class="btn btn-info">Reject</a></td>
         </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}
