{% extends "staff/staffhomeindex.html" %}
{% block body %}
<form action="" method="post">

  <table class="table table-bordered">
    <tr>
      <td>Sl no</td>
      <td>Date</td>
      <td>Prescreption</td>
      <td>Patient Details</td>
      <td>Doctor Details</td>
      <td>Schedule id</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.APPOINTEMENT.date }}</td>
      <td>&nbsp;{{ i.prescription }}</td>
      <td>{{ i.APPOINTEMENT.USER.uname }}</td>
      <td>{{ i.APPOINTEMENT.SCHEDULE.DOCTOR.dname }}</td>
      <td>{{ i.APPOINTEMENT.SCHEDULE.id }}</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
{% endblock %}

