{% extends "doctor/doctorhomeindex.html" %}
{% block body %}
<form action="/myapp/pharmacy_addmedicinepost/" method="post">
        {% csrf_token %}

    <table class="table table-bordered">
  <tr>
    <td>Medicinename</td>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required></td>
  </tr>
  <tr>
    <td>Amount</td>
    <td><input type="text" name="textfield2" id="textfield2" class="form-control" required></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><textarea name="textarea" id="textarea" class="form-control" required></textarea></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success"></td>
  </tr>
</table>
</form>
{% endblock %}