{% extends "doctor/doctorhomeindex.html" %}
{% block body %}
<form id="form3" name="form3" method="post" action="/myapp/doctor_changepasswordpost/">
    {% csrf_token %}
<table class="table table-bordered">
  <tr>
    <th width="188" scope="row">Old Pasword</th>
    <td width="229">
      <input type="text" name="oldp" id="oldp" class="form-control" required/>
    </td>
  </tr>
  <tr>
    <th scope="row">New Password</th>
    <td>
      <input type="text" name="newp" id="newp" class="form-control" required/>
   </td>
  </tr>
  <tr>
    <th scope="row">Confirm Password</th>
    <td>
      <input type="text" name="cp" id="cp" class="form-control" required/>
    </td>
  </tr>
  <tr>
  <td colspan="2" align="center"><input type="submit" class="btn btn-success"/></td>
  </tr>
</table>
</form>
{% endblock %}
