{% extends "doctor/doctorhomeindex.html" %}
{% block body %}

<body><form id="form4" name="form4" method="post" action="/myapp/doctor_editschedulepost/">
    {% csrf_token %}

    <input type="hidden" name="id" value="{{ data.id }}"/>
<table width="366" height="192" border="1">
  <tr>
    <th scope="row">Date</th>
    <td><input type="date" name="textfield"class="form-control" id="textfield" value="{{ data.date|date:'Y-m-d' }}"required /></td>
  </tr>
  <tr>
    <th scope="row">FromTime</th>
    <td><input type="time" name="textfield2" id="textfield2" class="form-control" value="{{ data.fromtime }}"required/></td>
  </tr>
  <tr>
    <th scope="row">ToTime</th>
    <td><input type="time" name="textfield3" id="textfield3"  class="form-control"value="{{ data.totime }}" required/></td>
  </tr>
  <tr>
    <th scope="row">
    </th>
    <td align="center" colspan="2"><input type="submit" value="ADD"  class="btn btn-success" /></td>
  </tr>
</table></form>
</body>
{% endblock %}
